.App-wrapper{
    font-family: "Open Sans",sans-serif;
    font-weight: 100;
    margin: 0 auto;
    text-align: center;
}
.Create-todo{
    width:30%;
    margin: 0 auto;
    padding-top: 100px;
    margin-bottom: 50px;
}
.Title-box{
    width:calc(100% - 25px);
    height: 25px;
    font-size: 15px;
    padding: 10px 10px 10px 15px;
    background-color: #e8e8e8;
    border: none;
    &:focus{
        background-color: #f1f1f1;
        outline:none;
    }
}
.Hidden-box{
    position: absolute;
    width:calc(30% - 5px);
    height: 170px;
    font-size: 15px;
    background-color: white;
    box-shadow: 0px 3px 10px -3px black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-bottom: 10px;
}
.Discription-box{
    font-family: "Open Sans",sans-serif;
    display: inline-block;
    width:calc(100% - 25px);
    height: 25px;
    font-size: 15px;
    padding: 10px 10px 10px 15px;
    background-color: white;
    border: none;
    resize: none;
    overflow: hidden;
    margin-bottom: 45px;
    &:focus{
        outline:none;
    }
}
.Color-wrapper{
    height: 40%;
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;
    flex-wrap: wrap;
    align-content: space-between;
}
.Color-pallet{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    z-index: 1;
}
.Color{
    height: 22px;
    width: 22px;
    border-radius: 50%;
    margin: 0 5px; 
    cursor: pointer;
}
.Selected-color{
    position: relative;
        &::after{
            content: "";
            position: absolute;
            display: inline-block;
            height: 24px;
            width: 24px;
            left:-3px;
            top: -3px;
            border: 2px solid;
            border-radius: 50%;
            border-color:inherit;
        }
}
.Create-button{
    width: 110px;
    height: 30px;
    float: right;
    background-color: #3d9ef8;
    color: white;
    border-radius: 20px;
    align-items: center;
    border:none;
    padding: 1px 5px 2px 5px;
    cursor: pointer;
    font-size: 15px;
    z-index: 1;
    transition:0.3s all ease-out; 
    &:focus{
        outline: none;
    }
    &:hover{
        background-color: #2d7ac2;
    }
    
}
.Card-wrapper{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}